* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-eo-es.eo-es.dix -text
/apertium-eo-es.eo.dix -text
/apertium-eo-es.es-eo.antaux2_t2x -text
/apertium-eo-es.es-eo.antaux3_t2x -text
/apertium-eo-es.es-eo.antaux4_t2x -text
/apertium-eo-es.es-eo.rlx -text
/apertium-eo-es.es-eo.t1x -text
/apertium-eo-es.es-eo.t2x -text
/apertium-eo-es.es-eo.t3x -text
/apertium-eo-es.es.dix -text
/apertium-eo-es.es.tsx -text
/apertium-eo-es.post-eo.dix -text
/autogen.sh -text
/comptar_dix.sh -text
/configure.ac -text
/es-eo-unsupervised.make -text
/es-eo.prob -text svneol=unset#unset
/kompletigu_eo_dix.sh -text
/krei_monodix.pl -text
/modes.xml -text
/nova_versio.sh -text
/outstanding-tests.sh -text
/regression-tests.sh -text
/retraduku.sh -text
/retraduku_cg.sh -text
tekstaro/es.crp.txt -text
